body{
     background-color: gray;
}
.header{
    height:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: royalblue;
    margin-bottom: 10px;
    border: 1px solid black;
}

.header-title{
    text-align: center;
}
div{
    border: 1px solid red;
}
